
section#footer.footer
      .footer__body.container
            h2.footer__title Контакты 
            ul.footer__info.footer-info
                  - 
                    items = [
                      { 
                        src: "assets/img/Group9.svg ",
                         text1: "+7 (985) 764-11-03",
                         text2: "+7 (985) 764-11-03 ",
                         text3: ""
                      },
                      { 
                        src: "assets/img/footer/img-1.svg", 
                        text1: "Dentalbeauty@mail.ru",
                        text2: "",
                        text3: ""
                        },
                      { 
                        src: "assets/img/footer/img-2.svg", 
                        text1: "пн-пт: 09:00-21:00",
                        text2: "сб-вс: 10:00-19:00 ",
                        text3: "",
                        },
                      { 
                        src: "assets/img/footer/clock.svg", 
                        text1: "Москва, Ломоносовский",
                        text2: "проспект, дом 29, ",
                        text3: "корпус 2 ЖК ",
                        },
                    ]
                  
                  each index in items
                    li.footer-info__item
                        img(src=index.src,alt="img").footer-info__icon
                        .footer-info__text
                            a(href="#!")=index.text1
                            a(href="#!")=index.text2
                            a(href="#!")=index.text3
            ul.footer__social.footer-social
                    - 
                      items = [
                        { src: " assets/img/footer/img-1.svg" },
                        { src: " assets/img/footer/facebook.svg" },
                        { src: " assets/img/footer/whatsapp.svg" },
                        { src: "assets/img/footer/youtube.svg " },
                      ]
                    each item in items
                      li.footer-social__item
                        a(href="#!").footer-social__link  
                          img(src=item.src,alt="img")
            .footer__description 2020. Клиника «Dental@Beauty» Все права защищены. © ООО «‎ДенталБьюти»  Цены, указанные на сайте, не являются публичной офертой. Уточняйте стоимость в клинике. Есть противопоказания. Необходима консультация специалиста
            .footer__map





.cssload
  .cssload-loader#p_prldr
    .cssload-inner.cssload-one
    .cssload-inner.cssload-two
    .cssload-inner.cssload-three
